body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header {
    background-color: #333;
    color: white;
    width: 100%;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
 
}
.signup-section,.signup-container{
    margin-top: 20%;
    }

.logo img {
    height: 40px;
    border-radius: 50%;
}
nav ul {
    list-style: none;
    display: flex;
    margin-right: 20px;
    gap: 15px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}
.login-section {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    width: 300px; 
}

.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input[type="email"], input[type="password"] {
    width: calc(100% - 22px); 
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="email"]:focus, input[type="password"]:focus {
    border-color: #4CAF50;
    outline: none;
}

button.submit-btn {
    background-color: #333; 
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    margin-bottom: 15px;
}

button.submit-btn:hover {
    background-color: #555; 
}

.links {
    text-align: center;
}

.links a {
    color: #4CAF50;
    text-decoration: none;
    margin: 0 10px;
}

.links a:hover {
    text-decoration: underline;
}