* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    color: #333;
}

header {
    background-color: #2d3e50;
    padding: 15px 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    flex: 1;
}

header .logo .logo-img {
    width: 120px;
    height: auto;
}

header .nav-content {
    flex: 2; 
    display: flex;
    justify-content: flex-end;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 20px; /* Espaço entre os itens */
}

header nav ul li {
    display: flex;
    align-items: center;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 8px 12px;
    border-radius: 5px;
    transition: background 0.3s ease;
}

header nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

header nav ul li button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background 0.3s ease;
}

header nav ul li button:hover {
    background-color: #45a049;
}

/* Responsividade */
@media (max-width: 768px) {
    header .logo {
        display: none; /* Esconde a logo */
    }

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 10px 0;
    }

    header .nav-content {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    header nav ul {
        display: flex;
        flex-wrap: wrap; /* Permite que os itens quebrem linha se necessário */
        justify-content: center; /* Centraliza os itens */
        align-items: center;
        padding: 0;
        gap: 10px;
        list-style: none;
    }

    header nav ul li {
        display: flex;
        justify-content: center;
        align-items: center;
    }


    
}
.login-section {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    width: 300px; 
    margin: auto;
    margin-bottom: 15%;
}

.login-container h3 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input[type="email"], input[type="password"] {
    width: calc(100% - 22px); 
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="email"]:focus, input[type="password"]:focus {
    border-color: #4CAF50;
    outline: none;
}

button.submit-btn {
    background-color: #333; 
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    margin-bottom: 15px;
}

button.submit-btn:hover {
    background-color: #555; 
}

.links {
    text-align: center;
}
footer {
    background-color: #2d3e50;
    color: white;
    padding: 10px 10px;
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer .footer-content {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

footer .footer-section {
    flex: 1;
    padding: 10px;
}

footer .footer-section h4 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #4CAF50; 
}

footer .footer-links .link-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px 20px; /* espaço entre os links */
}

footer .footer-links .link-list a {
    width: 45%; /* força duas colunas (50% - gap) */
    text-decoration: none;
    text-align: center;
}


footer .copyright {
    font-size: 14px;
    margin-top: 15px;
    color: #ccc;
}

a {
    color: #4CAF50;/* Verde */
    text-decoration: none !important;
}

a:hover {

    text-decoration: underline !important;
}

header a:hover{
    color: white;
}
