/* ===== Reset & base ========================================= */
*,*::before,*::after{margin:0;padding:0;box-sizing:border-box;}
:root{
  --cw-primary:#2d3e50;
}
body{
  font-family:Arial,Helvetica,sans-serif;
  background:#f1f1f1;
  color:#333;
}
header{
  background:#2d3e50;color:#f8f2f2;
  padding:15px 20px;display:flex;justify-content:space-between;align-items:center;
}
/* ===== Navbar / botões ====================================== */
.navbar {
  background: #444a54;
}
.nav-link {
  color: #fff !important;
}
.nav-link:hover {
  opacity: .8;
}
.btn-success {
  background: #4CAF50;
  border: none;
}
.btn-success:hover {
  background: #45a049;
}

/* ===== Perfil ADM =========================================== */
.admin-profile img{object-fit:cover;}

footer{background:#2d3e50;color:#fff;padding:10px 10px;margin-top:auto;text-align:center;}